<% include ./partials/header %>

<div class="container container-home">
  <h1 class="pb-2">Home Page</h1>
  <a class="btn btn-sm btn-info" href="/posts">Enter</a>
</div>

<% include ./partials/footer %>
